// VARIABLES
@lost gutter 30px;
@lost flexbox flex;
$purple: purple;

body{
  border-radius: 50%;
  transform: translateX(10px);
  div{
    background-color: $purple;
  }
}

/* FLEXBOX */
.flexbox{
  section {
    lost-center: 980px no-flex;
  }

  div {
    lost-column: 1/3 no-flex;
  }
}
