//@import 'reset-css/reset.css';

// VARIABLES
// Lost
@lost flexbox no-flex;

// Breakpoints
$mobile: 320px;
$tablet: 718px;
$desktop: 1024px;

// Colors
$purple: purple;

// SASS
// Mixins
@mixin grid-item($device, $column, $gutter: 30px) {
  @media screen and (min-width: $device) {
    .grid-item {
      lost-column: 1/$column $column $gutter;
    }
  }
}

// Each
@each $social in (twitter, facebook, youtube){
  .icon-#{$social}{
    background: url('img/#{$social}.png');
  }
}

// POSTCSS
// Alias
@alias {
  bc: background-color;
}

// Font Face Magician
p{
  font-family: "Alice", Arial;
}


/* TO DELETE */
body{
  div{
    bc: $purple;
    height: 50px;
    margin-bottom: 10px;
  }
  p{
    margin: 0;
    padding: 0;
  }
}

/* --------------- */
/* RESPONSIVE GRID */
/* --------------- */
.grid-one{
  lost-center: 100% 2%;
  // lost-center: [width] [padding] [flexbox];

  .grid-item {
    lost-column: 1/1;
    lost-align: center;
  }
  @include grid-item($mobile, 2);
  @include grid-item($tablet, 3);
  @include grid-item($desktop, 4);
  .grid-item:first-child{
    lost-move: 1/4;
  }
  .grid-item:nth-child(2){
    lost-move: -1/4;
  }
  .grid-item:last-child{
    lost-offset: -1/4;
  }
}


/* -------- */
/* RUCKSACK */
/* -------- */
.responsive-font{
  font-size: responsive 11px 20px;
  //font-size: responsive [min-size] [max-size];
  font-range: $mobile $desktop;
  // font-range: [lower-width] [upper-width];
}


