// VARIABLES
@lost gutter 30px;
@lost flexbox no-flex;
$purple: purple;

body{
  border-radius: 60%;
  transform: translateX(10px);
  div{
    background-color: $purple;
  }
}

/* BASIC */
.basic{
  lost-utility: clearfix;
  div{
    lost-column: 1/4 5 20px;
    // lost-column-cycle: 5;
    // lost-column-gutter: 20px;
    // lost-column-flexbox: flex;
  }
}

/* CENTERING */
.centering{
  lost-center: 980px;
  div{
    lost-column: 1/2;
  }
}

/* CONTROLING */
.controlling{
  .row {
    lost-utility: clearfix;
  }

  .quarter {
    lost-column: 1/4 0;
  }

  .half {
    lost-column: 1/2 0;
  }
}

/* NESTING */
.nesting{
  div {
    lost-column: 1/2;
  }
}

/* OFFSETTING */
.offsetting{
  div {
    lost-column: 1/4;
  }

  div:first-child {
    lost-offset: 1/4;
  }

  div:last-child {
    lost-offset: -1/4;
  }
}

/* ALIGNMENT */
.alignment{
  section {
    background-color: blue;
    lost-align: center;
    width: 600px;
    height: 400px;
  }

  div {
    width: 200px;
    height: 100px;
  }
}

/* EDIT MODE */
.editMode {
  section:nth-of-type(1) {
    lost-utility: edit;
  }

  // section:nth-of-type(2) {
  //   lost-utility: edit rgb(166, 0, 0);
  // }
}

/* VERTICAL */
.vertical{
  section {
    height: 100%;
  }

  div {
    lost-row: 1/3;
  }
}

/* WAFFLE */
.waffle{
  section {
    height: 100%;
  }

  div {
    lost-waffle: 1/3;
  }
}

/* MANSORY */
.mansory{
  section {
    lost-masonry-wrap: no-flex;
  }

  div {
    lost-masonry-column: 1/3;
  }
}


