body {
  border-radius: 50%;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

body div {
  background-color: purple;
}

/* FLEXBOX */

.flexbox section {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.flexbox section:before {
  content: '';
  display: table;
}

.flexbox section:after {
  content: '';
  display: table;
  clear: both;
}

.flexbox div {
  width: -webkit-calc(99.9% * 1/3 - (30px - 30px * 1/3));
  width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
}

.flexbox div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.flexbox div:last-child {
  margin-right: 0;
}

.flexbox div:nth-child(3n) {
  margin-right: 0;
  float: right;
}

.flexbox div:nth-child(3n + 1) {
  clear: both;
}
