@font-face {
  font-family: Alice;
  font-style: normal;
  font-weight: 400;
  src: local(Alice),local(Alice-Regular),url(http://fonts.gstatic.com/s/alice/v7/sZyKh5NKrCk1xkCk_F1S8A.eot?#) format("eot"),url(http://fonts.gstatic.com/s/alice/v7/_H4kMcdhHr0B8RDaQcqpTA.woff) format("woff2"),url(http://fonts.gstatic.com/s/alice/v7/_H4kMcdhHr0B8RDaQcqpTA.woff) format("woff");
}

.icon-twitter {
  background: url("img/twitter.png");
}

.icon-facebook {
  background: url("img/facebook.png");
}

.icon-youtube {
  background: url("img/youtube.png");
}

p {
  font-family: "Alice", Arial;
}

/* TO DELETE */

body div {
  background-color: purple;
  height: 50px;
  margin-bottom: 10px;
}

body p {
  margin: 0;
  padding: 0;
}

/* --------------- */

/* RESPONSIVE GRID */

/* --------------- */

.grid-one {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.grid-one:before {
  content: '';
  display: table;
}

.grid-one:after {
  content: '';
  display: table;
  clear: both;
}

.grid-one .grid-item {
  width: -webkit-calc(99.9% * 1/1 - (30px - 30px * 1/1));
  width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
  position: relative;
}

.grid-one .grid-item:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.grid-one .grid-item:last-child {
  margin-right: 0;
}

.grid-one .grid-item:nth-child(1n) {
  margin-right: 0;
  float: right;
}

.grid-one .grid-item:nth-child(1n + 1) {
  clear: both;
}

.grid-one .grid-item > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 320px) {
  .grid-one .grid-item {
    width: -webkit-calc(99.9% * 0.5 - (30px - 30px * 0.5));
    width: calc(99.9% * 0.5 - (30px - 30px * 0.5));
  }
  .grid-one .grid-item:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .grid-one .grid-item:last-child {
    margin-right: 0;
  }
  .grid-one .grid-item:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .grid-one .grid-item:nth-child(2n + 1) {
    clear: both;
  }
}

@media screen and (min-width: 718px) {
  .grid-one .grid-item {
    width: -webkit-calc(99.9% * 0.33333 - (30px - 30px * 0.33333));
    width: calc(99.9% * 0.33333 - (30px - 30px * 0.33333));
  }
  .grid-one .grid-item:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .grid-one .grid-item:last-child {
    margin-right: 0;
  }
  .grid-one .grid-item:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  .grid-one .grid-item:nth-child(3n + 1) {
    clear: both;
  }
}

@media screen and (min-width: 1024px) {
  .grid-one .grid-item {
    width: -webkit-calc(99.9% * 0.25 - (30px - 30px * 0.25));
    width: calc(99.9% * 0.25 - (30px - 30px * 0.25));
  }
  .grid-one .grid-item:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .grid-one .grid-item:last-child {
    margin-right: 0;
  }
  .grid-one .grid-item:nth-child(4n) {
    margin-right: 0;
    float: right;
  }
  .grid-one .grid-item:nth-child(4n + 1) {
    clear: both;
  }
}

.grid-one .grid-item:first-child {
  position: relative;
  left: -webkit-calc(99.9% * 1/4 - (30px - 30px * 1/4) + 30px);
  left: calc(99.9% * 1/4 - (30px - 30px * 1/4) + 30px);
}

.grid-one .grid-item:nth-child(2) {
  position: relative;
  left: -webkit-calc(99.9% * -1/4 - (30px - 30px * -1/4) + 30px);
  left: calc(99.9% * -1/4 - (30px - 30px * -1/4) + 30px);
}

.grid-one .grid-item:last-child {
  margin-left: -webkit-calc(99.9% * (-1/4 * -1) - (30px - 30px * (-1/4 * -1)) + 30px) !important;
  margin-left: calc(99.9% * (-1/4 * -1) - (30px - 30px * (-1/4 * -1)) + 30px) !important;
}

/* -------- */

/* RUCKSACK */

/* -------- */

.responsive-font {
  font-size: -webkit-calc(11px + 9 * ((100vw - 320px) / 704));
  font-size: calc(11px + 9 * ((100vw - 320px) / 704));
}

@media screen and (min-width: 1024px) {

  .responsive-font {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {

  .responsive-font {
    font-size: 11px;
  }
}
