body {
  border-radius: 60%;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

body div {
  background-color: purple;
}

/* BASIC */

.basic:before {
  content: '';
  display: table;
}

.basic:after {
  content: '';
  display: table;
  clear: both;
}

.basic div {
  width: -webkit-calc(99.9% * 1/4 - (20px - 20px * 1/4));
  width: calc(99.9% * 1/4 - (20px - 20px * 1/4));
}

.basic div:nth-child(1n) {
  float: left;
  margin-right: 20px;
  clear: none;
}

.basic div:last-child {
  margin-right: 0;
}

.basic div:nth-child(5n) {
  margin-right: 0;
  float: right;
}

.basic div:nth-child(5n + 1) {
  clear: both;
}

/* CENTERING */

.centering {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.centering:before {
  content: '';
  display: table;
}

.centering:after {
  content: '';
  display: table;
  clear: both;
}

.centering div {
  width: -webkit-calc(99.9% * 1/2 - (30px - 30px * 1/2));
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
}

.centering div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.centering div:last-child {
  margin-right: 0;
}

.centering div:nth-child(2n) {
  margin-right: 0;
  float: right;
}

.centering div:nth-child(2n + 1) {
  clear: both;
}

/* CONTROLING */

.controlling .row:before {
  content: '';
  display: table;
}

.controlling .row:after {
  content: '';
  display: table;
  clear: both;
}

.controlling .quarter {
  width: -webkit-calc(99.9% * 1/4 - (30px - 30px * 1/4));
  width: calc(99.9% * 1/4 - (30px - 30px * 1/4));
}

.controlling .quarter:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.controlling .quarter:last-child {
  margin-right: 0;
}

.controlling .quarter:nth-child(0n) {
  margin-right: 0;
  float: right;
}

.controlling .quarter:nth-child(0n + 1) {
  clear: both;
}

.controlling .half {
  width: -webkit-calc(99.9% * 1/2 - (30px - 30px * 1/2));
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
}

.controlling .half:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.controlling .half:last-child {
  margin-right: 0;
}

.controlling .half:nth-child(0n) {
  margin-right: 0;
  float: right;
}

.controlling .half:nth-child(0n + 1) {
  clear: both;
}

/* NESTING */

.nesting div {
  width: -webkit-calc(99.9% * 1/2 - (30px - 30px * 1/2));
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
}

.nesting div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.nesting div:last-child {
  margin-right: 0;
}

.nesting div:nth-child(2n) {
  margin-right: 0;
  float: right;
}

.nesting div:nth-child(2n + 1) {
  clear: both;
}

/* OFFSETTING */

.offsetting div {
  width: -webkit-calc(99.9% * 1/4 - (30px - 30px * 1/4));
  width: calc(99.9% * 1/4 - (30px - 30px * 1/4));
}

.offsetting div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.offsetting div:last-child {
  margin-right: 0;
}

.offsetting div:nth-child(4n) {
  margin-right: 0;
  float: right;
}

.offsetting div:nth-child(4n + 1) {
  clear: both;
}

.offsetting div:first-child {
  margin-right: -webkit-calc(99.9% * 1/4 - (30px - 30px * 1/4) + (30px * 2)) !important;
  margin-right: calc(99.9% * 1/4 - (30px - 30px * 1/4) + (30px * 2)) !important;
}

.offsetting div:last-child {
  margin-left: -webkit-calc(99.9% * (-1/4 * -1) - (30px - 30px * (-1/4 * -1)) + 30px) !important;
  margin-left: calc(99.9% * (-1/4 * -1) - (30px - 30px * (-1/4 * -1)) + 30px) !important;
}

/* ALIGNMENT */

.alignment section {
  background-color: blue;
  position: relative;
  width: 600px;
  height: 400px;
}

.alignment section > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.alignment div {
  width: 200px;
  height: 100px;
}

/* EDIT MODE */

.editMode section:nth-of-type(1) *:not(input):not(textarea):not(select) {
  background-color: rgba(0, 0, 255, 0.1);
}

/* VERTICAL */

.vertical section {
  height: 100%;
}

.vertical div {
  width: 100%;
  height: -webkit-calc(99.9% * 1/3 - (30px - 30px * 1/3));
  height: calc(99.9% * 1/3 - (30px - 30px * 1/3));
  margin-bottom: 30px;
}

.vertical div:last-child {
  margin-bottom: 0;
}

/* WAFFLE */

.waffle section {
  height: 100%;
}

.waffle div {
  width: -webkit-calc(99.9% * 1/3 - (30px - 30px * 1/3));
  width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
  height: -webkit-calc(99.9% * 1/3 - (30px - 30px * 1/3));
  height: calc(99.9% * 1/3 - (30px - 30px * 1/3));
}

.waffle div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  clear: none;
}

.waffle div:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.waffle div:nth-child(3n) {
  margin-right: 0;
  float: right;
}

.waffle div:nth-child(3n + 1) {
  clear: both;
}

.waffle div:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* MANSORY */

.mansory section {
  margin-left: -15px;
  margin-right: -15px;
}

.mansory section:before {
  content: '';
  display: table;
}

.mansory section:after {
  content: '';
  display: table;
  clear: both;
}

.mansory div {
  float: left;
  width: -webkit-calc(99.9% * 1/3 - 30px);
  width: calc(99.9% * 1/3 - 30px);
  margin-left: 15px;
  margin-right: 15px;
}
